<!DOCTYPE html>
<html lang="de">
<head>
    <script src="../build/runtime.js"></script>
    <script src="../../build/overlay.js"></script>

    <style>
        body {
            position: absolute;
            width: 1920px;
            height: 1080px;
        }

        .testBgImg{
            position: absolute;
            z-index: -1;
        }

        *, *:before, *:after {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        body {
            margin: 0;
        }
        canvas {
            position: absolute;
        }

    </style>
</head>

<body data-controller="overlay"
      data-url-overlay="{{ path("overlay") }}"
      class="default">



{#<img class="testBgImg" src="../../images/test.jpg">#}

</body>

