<div class="infoMsg-toast mb-1 {{ class }}" style="z-index: 11">
    <div id="toastMsg" class="toast darkToast" data-bs-delay="10000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Alert - {{ msg }}</strong>
            <small class="text-muted"></small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span>{{ additionalMsg }}</span>
        </div>
    </div>
</div>