.chatContainer {
  background-color: #00000050;
  border: 1px solid #375a7f;
  color: #DBDBDB;
  height: 350px;
}

.nickname {
  font-weight: 600;
}

.nickname::after {
  content: ":";
  padding-left:2px;
}

.chatCommand-card {
  background-color: #00000050;
  border: 1px solid #375a7f;
  color: #DBDBDB;
  margin-top: 5px;
  margin-bottom: 5px;
}