$fontColor: #FFF;
$tableColor: #FFF !important;

body {
    background-color: #222;
    color: $fontColor;
}

.form-control {
    background-color: #00000050;
    border: 1px solid #375a7f;
    color: #DBDBDB;
  &:focus {
       background-color: #00000050;
       border: 1px solid #375a7f;
       color: #DBDBDB;
   }
}

.btn {
    background-color: #2c4866;
    border-color: #2c4866;
    color: #fff;
  &:hover {
    color: #fff;
    background-color: #31353d;
  }
}

table {
    color: $tableColor;
}
