@import "~bootstrap";

@import 'dashboard', 'sidemenu', 'subevent', 'chat';


.darkToast {
  background-color: #00000038;
  border: 1px solid rgb(55 90 127);
  .toast-header {
    background-color: #00000057;
    border-bottom: 1px solid rgb(55 90 127);
    color: #FFF;
  }
}

.selectScopes {
  float: left;
  div {
    border: 1px solid #375a7f;
    padding: 10px;
    margin: 5px;
    word-wrap: break-word;
    font-size: 14px;
    cursor: pointer;
  }
  .clickedScope {
    background-color: #00000061;
  }
}
