.subEvent-overview-table-header {
  background-color: #31353d;
}
table.subscriptionsTable {
  border-collapse: separate;
  border-spacing: 0 2px;
  padding: 0;

  thead {
    tr {
      background-color: #31353d;
      th {
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
  tbody {
    tr:hover {
      background-color: #1e1e1e;
    }
    tr {

      background-color: #31353d;
      td {
        font-size: 13px;
        i.dropdown-toggle::after {
          content: none;
        }
        ul.dropdown-menu-dark {
          border: 1px solid #2c4866;
        }
      }
      td.secretUrl {
        cursor: pointer;
      }
    }

  }
}
