<!DOCTYPE html>
<html>
<head>
    <title>Hype-Train-Animation</title>

    <link rel="stylesheet" href="./css/hypetrain.css" />

</head>
<body data-controller="hypeTrain"
      data-url-subevent="{{ path("hypeTrainDbConnector") }}">

    <img id="hypeTrain" src="./images/example.gif" style="display: none"/>

    <script src="build/runtime.js"></script>
    <script src="build/hypeTrain.js"></script>
</body>
</html>