{% extends './../html_header.html.twig' %}

{% block body %}


<div
        data-controller="chatCommand"
        data-url-chatCommand="{{ path("chatCommand") }}"
        class="row p-3">

    <h3>Chat Commands</h3>
    <div class="w-100 p-1">
        <hr>
    </div>

    <div class="row">
        <div class="col-12 p-3 subEvent-overview-table-header">
            <div class="row">
                <div class="col-6">
                    <span class="fw-bold">Subscriptions</span>
                    <span class="fw-light">
                        {% if subEvent is empty %}
                            (0)
                        {% else %}
                            ({{ subEvent.total }})
                        {% endif %}
                    </span>
                </div>
                <div class="col-6 text-end">
                    <span>
                        <i class="fas fa-plus-circle fs-5" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <table class="table table-borderless subscriptionsTable">
            <thead>
                <tr>
                    <th >Enable</th>
                    <th >Command</th>
                    <th >Response</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>



            <div class="collapse p-0" id="collapseExample">
                <div class="chatCommand-card card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="chatCommand" name="chat[command]">
                                <label for="chatCommand">!Command</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" id="chatResponse" name="chat[Response]" style="height: 100px"></textarea>
                                <label for="chatResponse">Response</label>
                            </div>
                        </div>
                        <div class="col-12 mt-3 text-end">
                            <div class="form-floating">
                                <button type="submit" id="chatCommandSave" name="chat[chatCommandSave]" class="btn btn">save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if commandData is defined %}
                <tbody>
                    {% for data in commandData %}
                        <tr data-sub-id="{{ data.id }}">
                            <td>
                                <div class="form-check form-switch">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            role="switch"
                                            id="switchCheckChatCommand"
                                            data-checkbox-id="{{ data.id }}"
                                            name="chat[switchCheckBox]"
                                            {% if data.enable == 1 %}
                                                checked
                                            {% endif %}
                                    >
                                </div>
                            </td>
                            <td>{{data.command }}</td>
                            <td>{{data.response }}</td>
                            <td class="text-center">
                                <i class="fas fa-chevron-down dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" data-sub-id="{{ data.id }}">delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script src="build/chatCommand.js"></script>
{% endblock %}