{% extends './html_header.html.twig' %}

{% block body %}


    <div
            data-controller="chat"
            data-url-chat="{{ path("chat") }}"
            class="row p-3">

        <h3>Chat</h3>
        <div class="w-100 p-1">
            <hr>
        </div>

        <div class="row ">
            <div class="col mb-3">
                <button type="submit" id="chatConnect" name="chat[connect]" class="btn btn">Connect Chat Bot</button>
                <button type="submit" id="chatCloseConnection" name="chat[closeConnection]" class="btn btn">Close Connection</button>
            </div>
        </div>
        <div class="w-100 p-1">
            <hr>
        </div>

        <div class="row chat">
            <div class="col-6 chatContainer">
                <div class="chatMsg">

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let chatToken = "{{ token }}";
    </script>
    <script src="build/chat.js"></script>
{% endblock %}