<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Twitch Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="icon" type="image/svg+xml" href="build/images/favicon.svg" sizes="any">

    {% block stylesheets %}
        <link rel="stylesheet" href="build/app.css">
    {% endblock %}

</head>

<body>
<div class="page-wrapper theme toggled" >
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="{{ path("index") }}">Twitch API Board</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>

                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>User</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="{{ path("OAuth") }}">Generate OAuth Token</a>
                                </li>
                                <li>
                                    <a href="{{ path("user") }}">User</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Subevents</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="{{ path("subEvent") }}">Overview</a>
                                </li>
                                <li>
                                    <a href="{{ path("subEventNew") }}">New Subevent</a>
                                </li>
                                <li>
                                    <a href="#">delete Subevent</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Chat</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="{{ path("chat") }}">Dashboard</a>
                                </li>
                                <li>
                                    <a href="{{ path("chatToken") }}">Token for 2nd Twitch Account</a>
                                </li>
                                <li>
                                    <a href="{{ path("chatCommand") }}">Add Command</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Overlay</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="{{ path("overlay-default") }}">Default</a>
                                </li>
                                <li>
                                    <a href="{{ path("overlay-light") }}">Overlay Light</a>
                                </li>
                                <li>
                                    <a href="{{ path("overlay-dark") }}">Overlay Dark</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a href="#">
                            <span>Doku</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Subevent
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Twitch API Board</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <main class="page-content">
        <div class="toastBox position-fixed top-0 end-0 p-3 "></div>
        <div class="container-fluid" >
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </main>
</div>

<script src="build/runtime.js"></script>
<script src="build/app.js"></script>

<script defer>

    $(function ($) {

        let sideMenuCookie = getCookie('sidemenu');

        if (sideMenuCookie) {
            let $dropDowns = $('.sidebar-menu').find('.sidebar-dropdown');
            let $title = $dropDowns.find('span');
            $.each( $title, function( key, value ) {
                if('open_'+$(value).text() === sideMenuCookie) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(value).closest('li').find('.sidebar-submenu').slideDown(200);
                    $(value).closest('li').addClass("active");
                }
            });
        }
        $(".sidebar-dropdown > a").click(function(ev) {
            let SideMenuName = ev.currentTarget.innerText
            $(".sidebar-submenu").slideUp(200);
            if ($(this).parent().hasClass("active")) {
                $(".sidebar-dropdown").removeClass("active");
                $(this).parent().removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this).next(".sidebar-submenu").slideDown(200);
                $(this).parent().addClass("active");
                document.cookie = "sidemenu=open_"+SideMenuName;
            }
        });

        $("#close-sidebar").click(function() {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function() {
            $(".page-wrapper").addClass("toggled");
        });




    });

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
</body>
</html>
