{% extends './html_header.html.twig' %}

{% block body %}


    <div
        data-controller="oAuth"
        data-url-oauth="{{ path("OAuth") }}"
        class="row p-3">

        <h1>Generate oAuth Token</h1>
        <div class="w-100 p-1">
            <hr>
        </div>

        <div class="col-12">
            <ul>
                <li>1. step: Register an application under <a href="https://dev.twitch.tv/console/apps" target="_blank">https://dev.twitch.tv/console/apps</a> </li>
                <ul>
                    <li>OAuth Redirect URLs should be <code>http://localhost:3000</code></li>
                    <li>Kategorie should be <code>Application Integration</code></li>
                    <li>click on the <code>Erstellen</code></li>
                </ul>
                <li>2. step: get <code>Client-ID</code> and Client-Secret (<code>Client-Geheimnis</code>)</li>
                <ul>
                    <li>after step 1, click on your created application on the button <code>verwalten</code></li>
                    <li>you will see your <code>Client-ID</code>. It looks like <code>abcdefghijklmnopqrstuvwxyz0123</code></li>
                    <li>click on the button <code>Client-Geheimnis</code> and you get your Client secret</li>
                </ul>
            </ul>
        </div>

        <div class="w-100 p-3">
            <hr>
        </div>

        <div class="mb-2">
            <label for="oAuthClientId" class="form-label">Client-ID</label>
            <input type="password" id="oAuthClientId" name="oAuth[clientId]" placeholder="placeholder-35CAGZdLUG4gFJjt" class="form-control">
        </div>
        <div class="col-12 text-end">
            <button type="submit" id="oAuthShowClientId" name="oAuth[showClientId]" class="btn btn">show saved Client-ID</button>
        </div>

        <div class="mb-2"><label for="oAuthClientSecret" class="form-label">Clinet-Secret</label>
            <input type="password" id="oAuthClientSecret" name="oAuth[clientSecret]" placeholder="placeholder-7LMtuJT3jdVPbU9M" class="form-control">
        </div>

        <div class="col-12 text-end">
            <button type="submit" id="oAuthShowClientSecret" name="oAuth[showClientSecret]" class="btn btn">show saved password</button></div>
        <div class="mb-3">
            <button type="submit" id="oAuthSubmitButton" name="oAuth[SubmitButton]" class="btn btn">save</button>
        </div>
        <input type="hidden" id="oAuthToken" name="_csrf" value="{{ csrfToken }}">

        <div class="w-100 p-3">
            <hr>
        </div>

        <h2>OAuth client credentials flow</h2>
        <div id="oAuthScopes" class="mb-2">
            <label for="oAuthClickScopes" class="form-label">Click to select Scopes</label>
            <div id="oAuthClickScopes" class="row selectScopes">
                <div class="col-1">analytics:read:extensions</div>
                <div class="col-1">analytics:read:games</div>
                <div class="col-1">bits:read</div>
                <div class="col-1">channel:edit:commercial</div>
                <div class="col-1">channel:manage:broadcast</div>
                <div class="col-1">channel:manage:extensions</div>
                <div class="col-1">channel:manage:polls</div>
                <div class="col-1">channel:manage:predictions</div>
                <div class="col-1">channel:manage:redemptions</div>
                <div class="col-1">channel:manage:schedule</div>
                <div class="col-1">channel:manage:videos</div>
                <div class="col-1">channel:read:editors</div>

                <div class="col-1">channel:read:goals</div>
                <div class="col-1">channel:read:hype_train</div>
                <div class="col-1">channel:read:polls</div>
                <div class="col-1">channel:read:predictions</div>
                <div class="col-1">channel:read:redemptions</div>
                <div class="col-1">channel:read:stream_key</div>
                <div class="col-1">channel:read:subscriptions</div>
                <div class="col-1">clips:edit</div>
                <div class="col-1">moderation:read</div>
                <div class="col-1">moderator:manage:banned_users</div>
                <div class="col-1">moderator:read:blocked_terms</div>
                <div class="col-1">moderator:manage:blocked_terms</div>

                <div class="col-1">moderator:manage:automod</div>
                <div class="col-1">moderator:read:automod_settings</div>
                <div class="col-1">moderator:manage:automod_settings</div>
                <div class="col-1">moderator:read:chat_settings</div>
                <div class="col-1">moderator:manage:chat_settings</div>
                <div class="col-1">user:edit</div>
                <div class="col-1">user:edit:follows</div>
                <div class="col-1">user:manage:blocked_users</div>
                <div class="col-1">user:read:blocked_users</div>
                <div class="col-1">user:read:broadcast</div>
                <div class="col-1">user:read:email</div>
                <div class="col-1">user:read:follows</div>

                <div class="col-1">user:read:subscriptions</div>

                <div class="col-1">channel:moderate</div>
                <div class="col-1">chat:edit</div>
                <div class="col-1">chat:read</div>
                <div class="col-1">whispers:read</div>
                <div class="col-1">whispers:edit</div>
            </div>
        </div>

        <div id="accessToken" class="mb-2">
            <label for="oAuthAccessToken" class="form-label">Access Token</label>
            <input type="password" id="oAuthAccessToken" name="twitch_token[accessToken]" placeholder="EXAMPLE-q4BSTm7xEN8nat4B5qsR5NqJpN7SAL" class="form-control">
        </div>


        <div class="row g-0">
            <div class="col-md-5 w-auto ms-auto" role="group" aria-label="Basic example">
                <div class="d-inline">
                    <button type="submit" id="oAuthGenerateAccessToken" name="twitch_token[generateAccessToken]" class="btn btn">generate access token</button>
                </div>
                <div class="d-inline">
                    <button type="submit" id="oAuthShowAccessToken" name="twitch_token[showAccessToken]" class="btn btn">show access token</button>
                </div>
            </div>
        </div>
        <input type="hidden" id="twitch_token__token" name="twitch_token[_token]" value="">
        <div class="mb-3">
            <button type="submit" id="oAuthTokenSubmitButton" name="twitch_token[tokenSubmitButton]" class="btn btn">save</button>
        </div>


        <div class="w-100 p-3">
            <hr>
        </div>

        <h2>OAuth implicit code flow</h2>
        <div class="mb-3">
            <button type="submit" id="genUrl" name="twitch_token[genUrl]" class="btn btn">Generate Url</button>
        </div>
        <div class="mb-3 generatedUrl"></div>

        <div id="accessToken" class="mb-2">
            <label for="returnHash" class="form-label">Return Hash Token</label>
            <input type="password" id="returnHash" name="twitch_token[returnHash]" class="form-control">
        </div>
        <div class="mb-3">
            <button type="submit" id="oAuthReturnHashSubmitButton" name="twitch_token[tokenReturnHashSubmitButton]" class="btn btn">save</button>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script src="build/oAuth.js"></script>
{% endblock %}