{% extends './html_header.html.twig' %}

{% block body %}


    <div
        data-controller="subEventNew"
        data-url-subevent="{{ path("subEventNew") }}"
        class="row p-3">

        <h2>New SubEvent</h2>

        <div class="col-12 mt-3">
            <div class="row mb-5">
                <div class="mb-2 col-2">
                    <label for="templates" class="form-label">Templates</label>
                    <select id="templates" class="form-select " aria-label="select Template">
                        <option selected>select Template</option>
                        <option value="channel.update">channel.update</option>
                    </select>

                </div>

                <div class="mt-4 mb-3">
                    <button type="submit" id="subeventOpenTemplate" name="subevent[openTemplate]" class="btn btn">Open Template</button>
                </div>

            </div>
            <div class="row">
                <div class="mb-2 col-2">
                    <label for="type" class="form-label">Type</label>
                    <select id="type" class="form-select " aria-label="Select Event Type">
                        <option selected>Select Event Type</option>
                        <option value="channel.update">channel.update</option>
                        <option value="channel.follow">channel.follow</option>
                        <option value="channel.subscribe">channel.subscribe</option>
                        <option value="channel.subscription.end">channel.subscription.end</option>
                        <option value="channel.subscription.gift">channel.subscription.gift</option>
                        <option value="channel.subscription.message">channel.subscription.message</option>
                        <option value="channel.cheer">channel.cheer</option>
                        <option value="channel.raid">channel.raid</option>
                        <option value="channel.ban">channel.ban</option>
                        <option value="channel.unban">channel.unban</option>
                        <option value="channel.moderator.add">channel.moderator.add</option>
                        <option value="channel.moderator.remove">channel.moderator.remove</option>
                        <option value="channel.channel_points_custom_reward.add">channel.channel_points_custom_reward.add</option>
                        <option value="channel.channel_points_custom_reward.update">channel.channel_points_custom_reward.update</option>
                        <option value="channel.channel_points_custom_reward.remove">channel.channel_points_custom_reward.remove</option>
                        <option value="channel.channel_points_custom_reward_redemption.add">channel.channel_points_custom_reward_redemption.add</option>
                        <option value="channel.channel_points_custom_reward_redemption.update">channel.channel_points_custom_reward_redemption.update</option>
                        <option value="channel.poll.begin">channel.poll.begin</option>
                        <option value="channel.poll.progress">channel.poll.progress</option>
                        <option value="channel.poll.end">channel.poll.end</option>
                        <option value="channel.prediction.begin">channel.prediction.begin</option>
                        <option value="channel.prediction.progress">channel.prediction.progress</option>
                        <option value="channel.prediction.lock">channel.prediction.lock</option>
                        <option value="channel.prediction.end">channel.prediction.end</option>
                        <option value="drop.entitlement.grant">drop.entitlement.grant</option>
                        <option value="extension.bits_transaction.create">extension.bits_transaction.create</option>
                        <option value="channel.goal.begin">channel.goal.begin</option>
                        <option value="channel.goal.progress">channel.goal.progress</option>
                        <option value="channel.goal.end">channel.goal.end</option>
                        <option value="channel.hype_train.begin">channel.hype_train.begin</option>
                        <option value="channel.hype_train.progress">channel.hype_train.progress</option>
                        <option value="channel.hype_train.end1">channel.hype_train.end</option>
                        <option value="stream.online">stream.online</option>
                        <option value="stream.offline">stream.offline</option>
                        <option value="user.authorization.grant">user.authorization.grant</option>
                        <option value="user.authorization.revoke">user.authorization.revoke</option>
                        <option value="user.update">user.update</option>
                    </select>
                </div>
                <div class="mb-2 col-1">
                    <label for="version" class="form-label">Version</label>
                    <input type="text" id="version" name="subevent[version]" class="form-control" value="1">
                </div>

                <div class="mb-2 col-3 ">
                    <label for="broadcasterUserId" class="form-label">Broadcaster UserId</label>
                    <div class="input-group">
                        <input type="text" id="broadcasterUserId" name="subevent[broadcasterUserId]" placeholder="placeholder-263764150" class="form-control" aria-describedby="getUserId">
                        <button class="btn btn-outline-secondary" type="button" id="getUserId" name="subevent[getUserId]">Get UserId</button>
                    </div>
                </div>

                <div class="mb-2 col-2">
                    <label for="method" class="form-label">Method</label>
                    <input type="text" id="method" name="subevent[method]" value="webhook" class="form-control">
                </div>

                <div class="mb-2 col-4">
                    <label for="callback" class="form-label">callback <code>https://tunnelUrl/$localhostSlug</code></label>
                    <div class="input-group">
                        <input type="text" id="callback" name="subevent[callback]" placeholder="https://curvy-snail-41.loca.lt/hypetrain" class="form-control" aria-describedby="getTunnelUrl">
                        <button class="btn btn-outline-secondary" type="button" id="getTunnelUrl" name="subevent[getTunnelUrl]">Get Tunnel Url</button>
                    </div>
                </div>

                <div class="mb-2 col-3">
                    <label for="secret" class="form-label">secret</label>
                    <input type="text" id="secret" name="subevent[secret]" placeholder="012345678910" class="form-control">
                </div>

            </div>

            <div class="row ">
                <div class="mt-3 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="saveAsTemplate">
                        <label class="form-check-label" for="saveAsTemplate">
                            Save as template
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="autoStart">
                        <label class="form-check-label" for="autoStart">
                            Autostart (start automatically even if the server is started)
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mt-4 mb-3">
                    <button type="submit" id="subeventSubmitButton" name="subevent[save]" class="btn btn">save</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="build/subEventNew.js"></script>
{% endblock %}
