{% extends './html_header.html.twig' %}

{% block body %}


    <div
        data-controller="subEvent"
        data-url-subevent="{{ path("subEvent") }}"
        class="row p-3">

        <h2>SubEvent</h2>

        <div class="col-12 mt-3">

            <div class="row">
                <div class="col-12 p-3 subEvent-overview-table-header">
                    <div class="row">
                        <div class="col-6">
                            <span class="fw-bold">Subscriptions</span>
                            <span class="fw-light">
                                {% if subEvent is empty %}
                                    (0)
                                {% else %}
                                    ({{ subEvent.total }})
                                {% endif %}
                            </span>
                        </div>
                        <div class="col-6 text-end">
                            <span>
                                <i class="fas fa-plus-circle fs-5" title="add Subevent"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>



            {% if subEvent.data is not empty %}
                <div class="row">
                <table class="table table-borderless subscriptionsTable">
                    <thead>
                        <tr>
                            {% for data in subEvent.data %}
                                {% if loop.first %}
                                    {% for key, value in data %}
                                        {% if key == 'condition' %}
                                            {% for conKey, conValue in value %}
                                                <th scope="col" >{{ conKey }}</th>
                                            {% endfor %}
                                        {% endif %}
                                        {% if key == 'transport' %}
                                            {% for transportKey, transportValue in value %}
                                                <th scope="col" >{{ transportKey }}</th>
                                            {% endfor %}
                                        {% endif %}

                                        {% if key != 'condition' and  key != 'transport' %}
                                            <th scope="col" >{{ key }}</th>
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <th scope="col" >Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in subEvent.data %}
                        <tr data-sub-id="{{ data.id }}">
                            {% for key, value in data %}
                                {% if key == 'created_at' %}
                                    <td>{{ value|formatDate("d.m.Y - H:i:s") }}</td>
                                {% endif %}
                                {% if key == 'condition' %}
                                    {% for v in value %}
                                        <td>{{ v }}</td>
                                    {% endfor %}
                                {% endif %}
                                {% if key == 'transport' %}
                                    {% for k, v in value %}
                                        {% if k == 'callback' %}
                                            <td class="secretUrl" data-secretUrl="{{ v|encrypt() }}">Click here and Show Tunnel Url</td>
                                        {% endif %}
                                        {% if k != 'callback' %}
                                            <td>{{ v }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if
                                    key != 'condition' and
                                    key != 'transport' and
                                    key != 'created_at'
                                %}
                                    <td>{{ value }}</td>
                                {% endif %}

                            {% endfor %}
                            <td class="text-center">
                                <i class="fas fa-bars dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" data-sub-id="{{ data.id }}">delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="build/subEvent.js"></script>
{% endblock %}
