{% extends './html_header.html.twig' %}

{% block body %}
    <div data-controller="user"
         data-url-user="{{ path("user") }}"
         class="row p-3">

        <h1>User ID</h1>

        <div class="mb-2">
            <label for="userName" class="form-label">paste UserName</label> <code>e.g. ElaBaasel</code>
            <input type="text" id="userName" name="user[name]" placeholder="ElaBaasel" class="form-control">
        </div>

        <div class="mb-3">
            <button type="submit" id="userNameSubmitButton" name="UserName[SubmitButton]" class="btn btn">Get User-ID</button>
        </div>
        <input type="hidden" id="csrfToken" name="_csrf" value="{{ csrfToken }}">

        <div class="w-100 p-1">
            <hr>
        </div>

        <div class="mb-2">
            <label for="userid" class="form-label">Save user-id in database</label>
            <input type="text" id="userid" name="user[id]" placeholder="123456789" class="form-control">
        </div>

        <div class="mb-3">
            <button type="submit" id="userIdSubmitButton" name="UserId[SubmitButton]" class="btn btn">Save User ID</button>
        </div>

        <div class="mb-2"><label for="saveUsername" class="form-label">Username</label>
            <input type="text" id="saveUsername" name="user[saveUsername]" placeholder="ElaBaasel" class="form-control">
        </div>
        <div class="mb-3">
            <button type="submit" id="submitSaveUsername" name="user[submitSaveUsername]" class="btn btn">Save Username</button>
        </div>

        <input type="hidden" id="csrfToken" name="_csrf" value="{{ csrfToken }}">
    </div>
{% endblock %}

{% block javascripts %}
    <script src="build/user.js"></script>
{% endblock %}
