
<style>

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #bottomRight {
        position: absolute;
        left: 4360px;
        top: 2350px;
        transform: scale(0.9);
    }


</style>



{% block javascripts %}
    <script src="../../build/overlay.js" async></script>
{% endblock %}
