<style>

    @import 'https://fonts.googleapis.com/css?family=Satisfy';

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body {
        font-family: Roboto, sans-serif;
    }

    .centralize {
        margin-left: 15px;
    }

    .hoverme {
        font-family: "Satisfy", cursive;
        letter-spacing: 4px;
        white-space: nowrap;
        font-size: 80px;
        color: #fff;
        transform: perspective(0px) rotateX(45deg);
        will-change: transform;
        transition-timing-function: cubic-bezier(0.88, 2.85, 0.46, -0.12);
        transition-duration: 0.2s;
        text-shadow: 0px 1px 0 #e6e6e6, 0px 2px 0 #e6e6e6, 0px 3px 0 #e6e6e6, 0px 4px 0 #e6e6e6, 0px 5px 0 #e6e6e6, 0px 6px 0 #e6e6e6, 0px 7px 0 #e6e6e6, 0px 6px 0 #29ABE2, 0px 7px 0 #29ABE2, 0px 8px 0 #29ABE2, 0px 9px 0 #29ABE2, 0px 10px 0 #29ABE2, 0px 11px 0 #29ABE2, 0px 12px 0 #29ABE2, 2px 6px 0 #29ABE2, 2px 7px 0 #29ABE2, 2px 8px 0 #29ABE2, 2px 9px 0 #29ABE2, 2px 10px 0 #29ABE2, 2px 11px 0 #29ABE2, 2px 12px 0 #29ABE2, -2px 6px 0 #29ABE2, -2px 7px 0 #29ABE2, -2px 8px 0 #29ABE2, -2px 9px 0 #29ABE2, -2px 10px 0 #29ABE2, -2px 11px 0 #29ABE2, -2px 12px 0 #29ABE2, 0px 13px 0 #1a8dbe, 0px 14px 0 #1a8dbe, 0px 15px 0 #1a8dbe, 0px 16px 0 #1a8dbe, 0px 17px 0 #1a8dbe, 0px 18px 0 #1a8dbe, 0px 19px 0 #1a8dbe, 4px 11px 0 #1a8dbe, 4px 12px 0 #1a8dbe, 4px 13px 0 #1a8dbe, 4px 14px 0 #1a8dbe, 4px 15px 0 #1a8dbe, 4px 16px 0 #1a8dbe, 4px 17px 0 #1a8dbe, -4px 11px 0 #1a8dbe, -4px 12px 0 #1a8dbe, -4px 13px 0 #1a8dbe, -4px 14px 0 #1a8dbe, -4px 15px 0 #1a8dbe, -4px 16px 0 #1a8dbe, -4px 17px 0 #1a8dbe, 3px 7px 0 #1a8dbe, 4px 8px 0 #1a8dbe, -4px 9px 0 #1a8dbe, 0 21px 15px #5a5a5a;
    }

    .click {
        cursor: default;
        transition-duration: 0.5s;
        transform: perspective(0px) rotateX(45deg) translateY(-20px);
        text-shadow: 0px 1px 0 #e6e6e6, 0px 2px 0 #e6e6e6, 0px 3px 0 #e6e6e6, 0px 4px 0 #e6e6e6, 0px 5px 0 #e6e6e6, 0px 6px 0 #e6e6e6, 0px 7px 0 #e6e6e6, 0px 6px 0 #29ABE2, 0px 7px 0 #29ABE2, 0px 8px 0 #29ABE2, 0px 9px 0 #29ABE2, 0px 10px 0 #29ABE2, 0px 11px 0 #29ABE2, 0px 12px 0 #29ABE2, 2px 6px 0 #29ABE2, 2px 7px 0 #29ABE2, 2px 8px 0 #29ABE2, 2px 9px 0 #29ABE2, 2px 10px 0 #29ABE2, 2px 11px 0 #29ABE2, 2px 12px 0 #29ABE2, -2px 6px 0 #29ABE2, -2px 7px 0 #29ABE2, -2px 8px 0 #29ABE2, -2px 9px 0 #29ABE2, -2px 10px 0 #29ABE2, -2px 11px 0 #29ABE2, -2px 12px 0 #29ABE2, 0px 13px 0 #1a8dbe, 0px 14px 0 #1a8dbe, 0px 15px 0 #1a8dbe, 0px 16px 0 #1a8dbe, 0px 17px 0 #1a8dbe, 0px 18px 0 #1a8dbe, 0px 19px 0 #1a8dbe, 4px 11px 0 #1a8dbe, 4px 12px 0 #1a8dbe, 4px 13px 0 #1a8dbe, 4px 14px 0 #1a8dbe, 4px 15px 0 #1a8dbe, 4px 16px 0 #1a8dbe, 4px 17px 0 #1a8dbe, -4px 11px 0 #1a8dbe, -4px 12px 0 #1a8dbe, -4px 13px 0 #1a8dbe, -4px 14px 0 #1a8dbe, -4px 15px 0 #1a8dbe, -4px 16px 0 #1a8dbe, -4px 17px 0 #1a8dbe, 3px 7px 0 #1a8dbe, 4px 8px 0 #1a8dbe, -4px 9px 0 #1a8dbe, 0 41px 30px #5a5a5a;
    }



</style>


<div class="centralize">
    <div class="hoverme">ElaBaasel</div>
</div>

<script defer>
    console.log('test');
    $('.hoverme').on( "click", function() {
        $('.hoverme').addClass('click');
    });

    setInterval(function(){
        $('.hoverme').click();
        setTimeout(function() {
            $('.hoverme').removeClass('click');
        }, 800);
    }, 3000);
</script>

